*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.toptext {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
  
.toptext h1 {
    font-size: 1.7rem;
    font-weight: 300;
    color: hsl(234, 12%, 34%);
    
}

  
.h1span {
    font-weight: 600;
    color: hsl(234, 12%, 34%);

}
  
.top-paragraph {
    font-size: 0.8rem;
    color: hsl(229, 6%, 66%);
}

  
.box1,
.box2,
.box3,
.box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    height: 180px;
    margin: 15px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
  
.box1 {
    border-top: 4px solid hsl(180, 62%, 55%);
    position: relative;
    right: 130px;
    top: 120px;
}
  
.box2 {
    border-top: 4px solid hsl(0, 78%, 62%);
    position: absolute;
    top: 160px;
}
  
.box3 {
    border-top: 4px solid hsl(34, 97%, 64%);
    position: absolute;
    top: 360px;
}

  
.box4 {
    border-top: 4px solid hsl(212, 86%, 64%);
    position: relative;
    left: 130px;
    top: 120px
}

.box-text{
    font-weight: 600;
    font-size: 1.1rem;
    padding-left: 20px;
    margin-bottom: 5px;
}

.box-paragraph{
    font-size: 0.750rem;
    text-align: left;
    line-height: 1.7;
    margin-left: 20px;
    margin-right: 15px;
    color: hsl(229, 6%, 66%);
}

.image{
    width: 15%;
    margin-left: 190px;
    margin-top: 40px;
}

@media only screen and (max-width: 767px) {
    .toptext h1{
       font-size: 1.2rem;
    }

    .top-paragraph{
        padding: 12px 40px;
    }
    .box1,
    .box2,
    .box3,
    .box4 {
        width: 100%;
        max-width: 270px;
        margin: 15px 0;
        position: static;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .box1,
    .box2,
    .box3,
    .box4 {
        max-width: 230px;
    }

    .box1{
        margin-right: -20px;
    }

    .box2{
        margin-top: 20px;
    }
}